# Goals for the Week 

One of the primary goals of this week is to build an intuition for whether a treatment effect that we observe in an experiment is large enough that we believe it is not an artifact of our sample size, or the experiment design, or just bad luck!

## Reading to Begin 

Before we demonstrate these concepts concretely, in code, please read the following sections of *Field Experiments*

- Chapter 3, Introduction
- Chapter 3, Section 1 - Sampling Distributions 
- Chapter 3, Section 4 - Hypothesis Testing

In [22]:
rm(list = ls())

In [23]:
set.seed(42)

In [24]:
# This code should be shown at 4:00

d <- data.frame(
    group = c(rep("Man", 20), rep("Woman", 20))
    )

head(d)

  group
1 Man
2 Man
3 Man
4 Man
5 Man
6 Man

In [25]:
d$po_control <- c(1:20, 51:70)

tail(d)

   group po_control
35 Woman 65
36 Woman 66
37 Woman 67
38 Woman 68
39 Woman 69
40 Woman 70

In [26]:
d$po_treatment <- d$po_control + 0 # No effect! 

head(d)

  group po_control po_treatment
1 Man   1          1
2 Man   2          2
3 Man   3          3
4 Man   4          4
5 Man   5          5
6 Man   6          6

In [27]:
head(d)

  group po_control po_treatment
1 Man   1          1
2 Man   2          2
3 Man   3          3
4 Man   4          4
5 Man   5          5
6 Man   6          6

In [28]:
tail(d)

   group po_control po_treatment
35 Woman 65         65
36 Woman 66         66
37 Woman 67         67
38 Woman 68         68
39 Woman 69         69
40 Woman 70         70

In [29]:
randomize <- function(size) { 
  ## this is a dead-simple randomizer 
  ## ---   
  ## inputs: the size of the population (must be even)
  ## ---
  ## output: a vector of 1s and 0s 

  list_of_assignments <- c(rep(0, size/2), rep(1, size/2))
  randomized_assignments <- sample(list_of_assignments)
  
  return(randomized_assignments)
  } 

randomize(6)

[1] 1 1 0 0 1 0

In [30]:
d$treatment <- randomize(20) # conduct randomization for 
                             # this experiment
head(d)

  group po_control po_treatment treatment
1 Man   1          1            1
2 Man   2          2            0
3 Man   3          3            1
4 Man   4          4            1
5 Man   5          5            0
6 Man   6          6            1

In [31]:
d$outcomes <- (d$po_treatment * d$treatment) + 
              (d$po_control*(1-d$treatment))
head(d)

  group po_control po_treatment treatment outcomes
1 Man   1          1            1         1
2 Man   2          2            0         2
3 Man   3          3            1         3
4 Man   4          4            1         4
5 Man   5          5            0         5
6 Man   6          6            1         6

In [32]:
# show on slide 51
d$outcomes_2 <- NA
d[d$treatment==1, 'outcomes_2'] <- d[d$treatment==1, 'po_control']
d[d$treatment==0, 'outcomes_2'] <- d[d$treatment==0, 'po_treatment']

head(d)

  group po_control po_treatment treatment outcomes outcomes_2
1 Man   1          1            1         1        1
2 Man   2          2            0         2        2
3 Man   3          3            1         3        3
4 Man   4          4            1         4        4
5 Man   5          5            0         5        5
6 Man   6          6            1         6        6

In [33]:
# show on slide 56
est_ate <- function(outcome, treat) { 
  mean(outcome[treat==1]) - mean(outcome[treat==0])
  } 
est_ate

function(outcome, treat) {
  mean(outcome[treat==1]) - mean(outcome[treat==0])
  }

In [34]:
ate <- 1.3

In [35]:
ate <- est_ate(outcome = d$outcomes, d$treatment)

In [36]:
ate

[1] -2.8

In [20]:
ate <- 1.3

In [16]:
ate = 1.3

![alternate](./img/hist_animation.gif)

In [17]:
!pwd

ERROR: Error in eval(expr, envir, enclos): object 'pwd' not found

In [ ]:
getwd()

In [ ]:
install.packages("IRdisplay")